{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block content %}
<!-- Header -->
<section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({{STATIC_URL}}/media/images/wallpapers/baby_giraffe.jpeg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Tunga and its new born</h1>
                                    <h2 class="animation animated-item-2">We welcome the birth of the first  baby giraffe born in the...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({{STATIC_URL}}/media/images/wallpapers/leopard_resting.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Kolwoch the Leopard</h1>
                                    <h2 class="animation animated-item-2">A new addition to the conservancy, Kolwoch rests on the tree quite unfazed with the new...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({{MEDIA_URL}}/images/wallpapers/elephant.jpeg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Boyot the elephant</h1>
                                    <h2 class="animation animated-item-2">The oldest and strongest animal in the conservancy, Boyot is an African  ...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->
	<!-- /Header -->
{% endblock %}

{% block main %}

	 <section id="feature" class="container-full">
        <div class="container text-center">
           <div class="center wow fadeInDown">
                <h2>Features</h2>
                <p class="lead">Chebulu conservancy offers its visitors great and unrestricted opportunity to interact with the various species of animals and the abudant nature</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bold"></i>
                            <h2><a href="#">Bird Park</a></h2>
                            <h3>The park is home to a wide variety of amazing and exotic birds: from kites, macaus, bald eagles to the ostriches</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-globe"></i>
                            <h2><a href="#">Hiking</a></h2>
                            <h3>Hike through the  uneven terrain to various points and hot spots located across the conservancy, experiencing the wild nature</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-eye"></i>
                            <h2><a href="#">Scenery</a></h2>
                            <h3>The conservancy boasts its natural and beautiful scenery as one enjoys the breathtaking views of the forest and animals </h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2><a href="#">Adventures</a></h2>
                            <h3>Chebulu conservancy offers exciting recreation opportunities for family, friends and corporates to enjoy</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2><a href="#">Mountain Biking</a></h2>
                            <h3>Bring your bikes or hire them at reasonable prices, as you cycle through the conservancy</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-home"></i>
                            <h2><a href="#">Camping</a></h2>
                            <h3>Enjoy camping in the wild with animals, as you sightsee the scenic nature of the conservancy</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->
	<!-- /Highlights -->

	<section id="recent-works">
        <div class="container text-center" image src="{{STATIC_URL}}/media/images/wild_animals/greater_kudu.jpg"  >
            <div class="center wow fadeInDown">
                <h2>Animals</h2>
                <p class="lead">A wide variety of beautiful and exotic animals are present in the various parks available in the conservancy</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{STATIC_URL}}/media/images/wild_animals/spotted_hyena.jpeg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Spotted_hyena</a> </h3>
                                <p>Spotted_hyena</p>
                                <a class="preview" href="{{STATIC_URL}}/media/images/wild_animals/spotted_hyena.jpeg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{STATIC_URL}}/media/images/wild_animals/buffalo.jpeg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Buffalo</a></h3>
                                <p>Buffalo</p>
                                <a class="preview" href="{{STATIC_URL}}/media/images/wild_animals/buffalo.jpeg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{STATIC_URL}}/media/images/wild_animals/greater_kudu.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Greater Kudu</a></h3>
                                <p>Greater Kudu</p>
                                <a class="preview" href="{{STATIC_URL}}/media/images/wild_animals/greater_kudu.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{STATIC_URL}}/media/images/wild_animals/rock_agama.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Rock_agama</a></h3>
                                <p>Rock agama</p>
                                <a class="preview" href="{{STATIC_URL}}/media/images/wild_animals/rock_agama.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{STATIC_URL}}/media/images/wild_animals/warthog-family.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Warthog family</a></h3>
                                <p>Warthog family</p>
                                <a class="preview" href="{{STATIC_URL}}/media/images/wild_animals/warthog-family.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{STATIC_URL}}/media/images/wild_animals/orynx.jpeg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Orynx</a></h3>
                                <p>Orynx</p>
                                <a class="preview" href="{{STATIC_URL}}/media/images/wild_animals/orynx.jpeg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{STATIC_URL}}/media/images/wild_animals/zebra.jpeg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Zebra </a></h3>
                                <p>Zebra</p>
                                <a class="preview" href="{{STATIC_URL}}/media/images/wild_animals/zebra.jpeg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{{STATIC_URL}}/media/images/wild_animals/african_wild_dogs.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">African wild dogs</a></h3>
                                <p>African wild dogs</p>
                                <a class="preview" href="{{STATIC_URL}}/media/images/wild_animals/african_wild_dogs.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->

    <section id="services" class="service-item">
	   <div class="container text-center">
            <div class="center wow fadeInDown">
                <h2>Experience</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{STATIC_URL}}/media/images/services/bushbaby.jpeg">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#">Animal Encounters</a></h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{STATIC_URL}}/media/images/services/rock-climbing-feature-100.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#">Rock climbing</a></h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{STATIC_URL}}/media/images/services/school-bus.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#">School Excursions</a></h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{STATIC_URL}}/media/images/services/tours_tourists.jpg">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#">Tours</a></h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{STATIC_URL}}/media/images/services/school_kids.jpg">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#">Junior Keeper Camps</a></h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{{STATIC_URL}}/media/images/services/birthday-cake-color.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#">Zoo Parties</a></h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>                                                
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="content">
        <div id ="tab-panel" class="container">
            <div class="row" id="content-row">
                <div class="col-xs-12 col-sm-8 wow fadeInDown">
                   <div class="tab-wrap"> 
                        <div class="media">
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">About Us</a></li>
                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Conservation Program</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Community</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Achievements</a></li>
                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">What We Do?</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{{STATIC_URL}}/media/images/">
                                            </div>
                                            <div class="media-body">
                                                 <h2>History</h2>
                                                 <p>Bacon ipsum dolor sit amet pig beef swine tenderloin. Doner short ribs capicola strip steak cow, pork ball tip chicken tongue short loin. Pastrami brisket jerky ham beef, kielbasa biltong chicken flank venison pork sirloin spare ribs shankle. Jerky pork loin pork, pork chop ham hock sirloin shankle short loin frankfurter tenderloin spare ribs. Pork loin brisket meatloaf t-bone. Flank ribeye bacon t-bone pancetta bresaola chicken meatball pork chop shankle pig jerky boudin. Sirloin ham hock andouille flank chuck pastrami shankle pancetta swine ground round.</p>

                                                 <h2>Location</h2>
                                                 <p>Ball tip boudin ribeye corned beef. Jerky short loin swine, ribeye filet mignon ham hock pork loin jowl shank strip steak corned beef shankle pork. Bacon turkey tenderloin frankfurter meatball, andouille bresaola shoulder brisket. Jowl chicken sausage pork chop, tenderloin beef shank shoulder pancetta salami prosciutto corned beef. Pastrami brisket jerky ham beef, kielbasa biltong chicken flank venison pork sirloin spare ribs shankle.</p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="{{STATIC_URL}}/media/images/">
                                            </div>
                                            <div class="media-body">                                                 
                                                 <p>Bacon ipsum dolor sit amet pig beef swine tenderloin. Doner short ribs capicola strip steak cow, pork ball tip chicken tongue short loin. Pastrami brisket jerky ham beef, kielbasa biltong chicken flank venison pork sirloin spare ribs shankle. Jerky pork loin pork, pork chop ham hock sirloin shankle short loin frankfurter tenderloin spare ribs. Pork loin brisket meatloaf t-bone. Flank ribeye bacon t-bone pancetta bresaola chicken meatball pork chop shankle pig jerky boudin. Sirloin ham hock andouille flank chuck pastrami shankle pancetta swine ground round.
                                                 </p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab3">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                                     </div>
                                     
                                     <div class="tab-pane fade" id="tab4">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
                                     </div>

                                     <div class="tab-pane fade" id="tab5">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,</p>
                                     </div>
                                </div> <!--/.tab-content-->  
                            </div> <!--/.media-body--> 
                        </div> <!--/.media-->     
                    </div><!--/.tab-wrap-->               
                </div><!--/.col-sm-6-->

                <div class="col-xs-12 col-sm-4 wow fadeInDown">
                    <div class="testimonial">
                        <h2>Testimonials</h2>
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="{{STATIC_URL}}/media/images/testimonials1.png">
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>-John Doe/</strong> Director of corlate.com</span>
                            </div>
                         </div>

                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="{{STATIC_URL}}/media/images/testimonials1.png">
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>-John Doe/</strong> Director of corlate.com</span>
                            </div>
                         </div>

                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

<section id="patners">



</section>
{% endblock %}

<script>
 jQuery(function($) {'use strict',

    //#main-slider
    $(function(){
        $('#main-slider.carousel').carousel({
            interval: 2400
        });
    });

});    
</script>